.item {
  width: 200px;
  display: inline-block;
}

.gray {
  background-color: #cccccc;
}

.line {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}
